.login{
    position: relative;
    top: 15%;
    margin: auto;
    width: 500px;
}
mat-form-field{
    width: 400px;
}
.loginForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
button{
  margin-left: 8px;
}
span{
    padding-right: 20px;
    margin-top: 10px;
}
h3{
    color: rgb(54, 0, 105);
}
h1{
    text-align: center;
    color: navy;
}
.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  .example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
 